table {
  padding: 20px;
  width: 100%;
}

.mat-header-cell{
  text-align: center;
  border-right: 1px solid currentColor;
  background-color: green;
  color: white;
}

.mat-cell{
  border-right: 1px solid currentColor;
  text-align: center;
  color: green;
}
